<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>


<p>
  <b><%= label_tag(:post_title, 'Title') %></b>
  <%= @post.title %>
</p>

<p>
  <b><%= label_tag(:post_body, 'Body') %></b>
  <%= @post.body %>
</p>

<ul id='comments'>
  <% @post.comments.each do |comment| %>
    <li id='comment_<%= comment.id %>'>
        <%= comment.author %> <%= comment.body %>
        <%= link_to "Delete this Comment", delete_comment_path(@post.id, comment.id), :method => 'delete'%>
    </li>
  <% end %>
</ul>

<%= button_to 'Create a new Comment', new_comment_path(@post.id), :method=>"get" %>
<%= button_to 'Back', root_path %>



