<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tag %>   
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="container">
      <header>

        <%= image_tag("blog1.jpg", :alt => "Blog img", :width => "300", :height => "150", :class => "round") %>
        <nav class="round">   
          <ul>          
            <li><%= link_to "Home", root_path %></li> |
            <% if user_signed_in? %>
              <li><%= current_user.email %></li> |
              <li><%= link_to "Settings", edit_registration_path(current_user) %></li> |
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li> |
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>
      <section class="round">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
 
